# 在数据中加入情感
基于NRC字典的情感分析

https://chengjun.github.io/mybook/11-3-NRC-Chinese-dict.html

1. 对所有的活跃用户推文跑出各类情感词的数量
2. 将情感词频率作为特征纳入固定效应模型
3. 如果可能，再对所有原创推文做同样的事
4. 如果还可能，再做出情感词的时间序列

In [1]:
import pandas as pd

In [2]:
lexicon_df = pd.read_excel("H:/课程/毕业论文/NRC-Emotion-Lexicon/NRC-Emotion-Lexicon.xlsx")
lexicon_df.head()

    word       emotion  value
0  aback         anger      0
1  aback  anticipation      0
2  aback       disgust      0
3  aback          fear      0
4  aback           joy      0

In [3]:
lexicon_df[:10]

    word       emotion  value
0  aback         anger      0
1  aback  anticipation      0
2  aback       disgust      0
3  aback          fear      0
4  aback           joy      0
5  aback      negative      0
6  aback      positive      0
7  aback       sadness      0
8  aback      surprise      0
9  aback         trust      0

In [4]:
lexicon_df.emotion.unique().tolist()

['anger',
 'anticipation',
 'disgust',
 'fear',
 'joy',
 'negative',
 'positive',
 'sadness',
 'surprise',
 'trust']

In [5]:
lexicon_df[lexicon_df.emotion=='anger'][lexicon_df.value==1][['word','value']].reset_index(drop=True)

C:\Windows\Temp\ipykernel_6256\3382447542.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lexicon_df[lexicon_df.emotion=='anger'][lexicon_df.value==1][['word','value']].reset_index(drop=True)

             word  value
0       abandoned      1
1     abandonment      1
2           abhor      1
3       abhorrent      1
4         abolish      1
...           ...    ...
1240     wrongful      1
1241      wrongly      1
1242         yell      1
1243         yelp      1
1244        youth      1

[1245 rows x 2 columns]

In [8]:
# 构建情感词列表
Positive, Negative, Anger, Anticipation, Disgust, Fear, Joy, Sadness, Surprise, Trust= [[] for i in range(10)]

In [9]:
Positive=lexicon_df[lexicon_df.emotion=='positive'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Negative=lexicon_df[lexicon_df.emotion=='negative'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Anger=lexicon_df[lexicon_df.emotion=='anger'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Anticipation=lexicon_df[lexicon_df.emotion=='anticipation'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Disgust=lexicon_df[lexicon_df.emotion=='disgust'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Fear=lexicon_df[lexicon_df.emotion=='fear'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Joy=lexicon_df[lexicon_df.emotion=='joy'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Sadness=lexicon_df[lexicon_df.emotion=='sadness'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Surprise=lexicon_df[lexicon_df.emotion=='surprise'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
Trust=lexicon_df[lexicon_df.emotion=='trust'][lexicon_df.value==1][['word','value']].reset_index(drop=True)

C:\Windows\Temp\ipykernel_6256\135569679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Positive=lexicon_df[lexicon_df.emotion=='positive'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Negative=lexicon_df[lexicon_df.emotion=='negative'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Anger=lexicon_df[lexicon_df.emotion=='anger'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Anticipation=lexicon_df[lexicon_df.emotion=='anticipation'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Disgust=lexicon_df[lexicon_df.emotion=='disgust'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Fear=lexicon_df[lexicon_df.emotion=='fear'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Joy=lexicon_df[lexicon_df.emotion=='joy'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Sadness=lexicon_df[lexicon_df.emotion=='sadness'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Surprise=lexicon_df[lexicon_df.emotion=='surprise'][lexicon_df.value==1][['word','value']].reset_index(drop=True)
C:\Windows\Temp\ipykernel_6256\135569679.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Trust=lexicon_df[lexicon_df.emotion=='trust'][lexicon_df.value==1][['word','value']].reset_index(drop=True)

In [10]:
Anger.head()

          word  value
0    abandoned      1
1  abandonment      1
2        abhor      1
3    abhorrent      1
4      abolish      1

In [11]:
Trust.head()

         word  value
0      abacus      1
1       abbot      1
2  absolution      1
3   abundance      1
4    academic      1

In [12]:
data = pd.read_csv("H:/课程/毕业论文/active_User_per_30_days_processed.csv")

In [13]:
data.head()

,Unnamed: 0,Datetime,Tweet_id,Tweet_content,Tweet_reply_count,Tweet_retweet_count,Tweet_like_count,Tweet_quote_count,Tweet_hashtags,Username,...,care_cat,fairness_cat,purity_cat,loyalty_cat,30day_cut,Tweet_content_clean,url_num,at_num,emoji_num,User_infuluence_score
0,0,2022-02-22,1496098801152512002,putins war ukraine russia crisis ukraina ...,0,0,1,0,"['PutinsWar', 'UkraineRussiaCrisis', 'Ukraina'...",anyidea,...,Harm,Non,Non,Non,0,"['putin', 'war', 'ukrain', 'russia', 'crisi', ...",1,0,0,1.155039
1,1,2022-02-22,1496099780912881665,Proud moment for indiaTwo young shining stars...,0,0,1,0,"['India', 'Kashmir', 'India', 'Dubai', 'COVID1...",AhmedFidous,...,Care,Non,Non,Non,0,"['proud', 'moment', 'indiatwo', 'young', 'shin...",1,0,0,0.273474
2,2,2022-02-22,1496103001903501319,Russia vs Ukraine War Update: Germany halts No...,1,0,1,0,"['Ukraine', 'UkraineRussiaCrisis', 'UkraineCon...",prime_scoop,...,Harm,Non,Non,Non,0,"['russia', 'vs', 'ukrain', 'war', 'updat', '',...",1,0,0,7.575000
3,3,2022-02-22,1496107122718695424,putins war :Interesting details on other terr...,0,0,1,0,"['PutinsWar', 'SatansSpeech', 'PutinSpeech', '...",anyidea,...,Harm,Non,Non,Non,0,"['putin', 'war', '', 'interest', 'detail', 'te...",1,0,0,1.155039
4,4,2022-02-22,1496107229929476105,"criminals in russia, iran, syria!are the w...",0,0,3,0,"['criminals', 'Russia', 'Iran', 'Syria', 'Cowa...",Basel_Saneeb,...,Non,Non,Degradation,Mixed,0,"['crimin', 'russia', '', 'iran', '', 'syria', ...",1,0,4,2.186667

In [14]:
test_content = data.loc[0].Tweet_content_clean

In [15]:
test_content

"['putin', 'war', 'ukrain', 'russia', 'crisi', 'ukraina', 'ukrain', 'crisi', 'ukrain', 'volodymyr', 'zelenski', '', 'vladimir', 'putin', 'last', 'warn', '', '', 'url']"

In [16]:
import nltk
from ast import literal_eval
test_content = literal_eval(test_content)

In [17]:
test_content

['putin',
 'war',
 'ukrain',
 'russia',
 'crisi',
 'ukraina',
 'ukrain',
 'crisi',
 'ukrain',
 'volodymyr',
 'zelenski',
 '',
 'vladimir',
 'putin',
 'last',
 'warn',
 '',
 '',
 'url']

## 将感情词表转换为词干，并删除多余元素

In [18]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
Positive.head()

             word  value
0            abba      1
1         ability      1
2  abovementioned      1
3        absolute      1
4      absolution      1

In [20]:
def word_stem(word):
    return ps.stem(word)

In [21]:
Positive.word = Positive.word.apply(word_stem)

In [22]:
Positive.head()

        word  value
0       abba      1
1       abil      1
2  abovement      1
3    absolut      1
4    absolut      1

In [23]:
Positive = Positive.drop_duplicates(subset='word', keep='last').reset_index(drop=True)

In [24]:
Positive.head()

        word  value
0       abba      1
1       abil      1
2  abovement      1
3    absolut      1
4     absorb      1

In [25]:
Negative.word = Negative.word.apply(word_stem)
Anger.word = Anger.word.apply(word_stem)
Anticipation.word = Anticipation.word.apply(word_stem)
Disgust.word = Disgust.word.apply(word_stem)
Fear.word = Fear.word.apply(word_stem)
Joy.word = Joy.word.apply(word_stem)
Sadness.word = Sadness.word.apply(word_stem)
Surprise.word = Surprise.word.apply(word_stem)
Trust.word = Trust.word.apply(word_stem)

In [26]:
Negative=Negative.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Anger= Anger.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Anticipation= Anticipation.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Disgust= Disgust.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Fear= Fear.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Joy= Joy.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Sadness= Sadness.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Surprise= Surprise.drop_duplicates(subset='word', keep='last').reset_index(drop=True)
Trust= Trust.drop_duplicates(subset='word', keep='last').reset_index(drop=True)

In [27]:
Anger.head()

      word  value
0  abandon      1
1    abhor      1
2   abhorr      1
3  abolish      1
4   abomin      1

In [38]:
def emotion_caculate(tweets):
    positive, negative, anger, anticipation, disgust, fear, joy, sadness, surprise, trust = [0 for i in range(10)]
    
    wordlist = tweets
    wordset = set(wordlist)
    wordfreq = []
    for word in wordset:
        freq = wordlist.count(word)
        if word in Positive:
            positive+=freq
        if word in Negative:
            negative+=freq
        if word in Anger:
            anger+=freq  
        if word in Anticipation:
            anticipation+=freq
        if word in Disgust:
            disgust+=freq
        if word in Fear:
            fear+=freq
        if word in Joy:
            joy+=freq
        if word in Sadness:
            sadness+=freq
        if word in Surprise:
            surprise+=freq
        if word in Trust:
            trust+=freq
            
    emotion_info = {
        'positive': positive,
        'negative': negative,
        'anger': anger,
        'anticipation': anticipation,
        'disgust': disgust,
        'fear':fear,
        'joy':joy,
        'sadness':sadness,
        'surprise':surprise,
        'trust':trust,
        'length':len(wordlist)
    }
    indexs = ['length', 'positive', 'negative', 'anger', 'anticipation','disgust','fear','joy','sadness','surprise','trust']
    return emotion_info

In [39]:
emotion_caculate(test_content)

{'positive': 0,
 'negative': 0,
 'anger': 0,
 'anticipation': 0,
 'disgust': 0,
 'fear': 0,
 'joy': 0,
 'sadness': 0,
 'surprise': 0,
 'trust': 0,
 'length': 19}

In [30]:
data.Tweet_content_clean = data.Tweet_content_clean.apply(literal_eval)

In [32]:
data.head()

,Unnamed: 0,Datetime,Tweet_id,Tweet_content,Tweet_reply_count,Tweet_retweet_count,Tweet_like_count,Tweet_quote_count,Tweet_hashtags,Username,...,care_cat,fairness_cat,purity_cat,loyalty_cat,30day_cut,Tweet_content_clean,url_num,at_num,emoji_num,User_infuluence_score
0,0,2022-02-22,1496098801152512002,putins war ukraine russia crisis ukraina ...,0,0,1,0,"['PutinsWar', 'UkraineRussiaCrisis', 'Ukraina'...",anyidea,...,Harm,Non,Non,Non,0,"[putin, war, ukrain, russia, crisi, ukraina, u...",1,0,0,1.155039
1,1,2022-02-22,1496099780912881665,Proud moment for indiaTwo young shining stars...,0,0,1,0,"['India', 'Kashmir', 'India', 'Dubai', 'COVID1...",AhmedFidous,...,Care,Non,Non,Non,0,"[proud, moment, indiatwo, young, shine, star, ...",1,0,0,0.273474
2,2,2022-02-22,1496103001903501319,Russia vs Ukraine War Update: Germany halts No...,1,0,1,0,"['Ukraine', 'UkraineRussiaCrisis', 'UkraineCon...",prime_scoop,...,Harm,Non,Non,Non,0,"[russia, vs, ukrain, war, updat, , germani, ha...",1,0,0,7.575000
3,3,2022-02-22,1496107122718695424,putins war :Interesting details on other terr...,0,0,1,0,"['PutinsWar', 'SatansSpeech', 'PutinSpeech', '...",anyidea,...,Harm,Non,Non,Non,0,"[putin, war, , interest, detail, territori, co...",1,0,0,1.155039
4,4,2022-02-22,1496107229929476105,"criminals in russia, iran, syria!are the w...",0,0,3,0,"['criminals', 'Russia', 'Iran', 'Syria', 'Cowa...",Basel_Saneeb,...,Non,Non,Degradation,Mixed,0,"[crimin, russia, , iran, , syria, , world, s, ...",1,0,4,2.186667

In [34]:
test_df = data[:10]

In [40]:
emotion_caculate(test_df.Tweet_content_clean[0])

{'positive': 0,
 'negative': 0,
 'anger': 0,
 'anticipation': 0,
 'disgust': 0,
 'fear': 0,
 'joy': 0,
 'sadness': 0,
 'surprise': 0,
 'trust': 0,
 'length': 19}

In [41]:
test_df['emotions'] = test_df.Tweet_content_clean.apply(emotion_caculate)

C:\Windows\Temp\ipykernel_6256\255568455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['emotions'] = test_df.Tweet_content_clean.apply(emotion_caculate)

In [31]:
data['emotions'] = data.Tweet_content_clean.apply(emotion_caculate)

ValueError: Expected a 1D array, got an array with shape (2730753, 11)